





.iconContainer h3 {
  position: absolute;
  top: 3px;
  right: 0;
  line-height: 18px;
  font-size: 0.75rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  padding:1px 3px;
}
